
testdir/.idea/misc.xml
testdir/.idea/modules.xml
testdir/.idea/testdir.iml
testdir/.idea/vcs.xml
testdir/.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/testdir.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/
log/